.session-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-cont {
  height: 100%;
  max-width: 1200px;
  user-select: all!important;
}