.sta-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
  backdrop-filter: blur(2px);
  pointer-events: all;
}

.ifm-overlay {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}

.btn-unfocus {
  position: fixed;
  right: 0;
  margin: auto;
  width: 10rem;
  top: 0;
  border: 1px solid black;
  border-radius: 0;
  margin: 1rem;
}
